|model|output|result|
|-|-|
|deepseek/deepseek-r1-0528|[]|
|deepseek/deepseek-chat-v3-0324:free|[add(a=11, b=49)]|
|deepseek/deepseek-chat-v3-0324|[add(a=11, b=49), multiply(a=3, b=12)]|
|qwen/qwen-max|[add(a=11, b=49)]|

|model|output|result|
|-|-|
|deepseek/deepseek-r1-0528|[]|
|deepseek/deepseek-chat-v3-0324:free|[add(a=11, b=49)]|
|deepseek/deepseek-chat-v3-0324|[add(a=11, b=49), multiply(a=3, b=12)]|
|qwen/qwen-max|[add(a=11, b=49)]|


|model|output|result|
|-|-|
|deepseek/deepseek-r1-0528|[]|
|deepseek/deepseek-chat-v3-0324:free|[add(a=11, b=49)]|
|deepseek/deepseek-chat-v3-0324|[add(a=11, b=49), multiply(a=3, b=12)]|
|qwen/qwen-max|[add(a=11, b=49)]|


|model|output|result|
|-|-|
|deepseek/deepseek-r1-0528|[]|
|deepseek/deepseek-chat-v3-0324:free|[add(a=11, b=49)]|
|deepseek/deepseek-chat-v3-0324|[add(a=11, b=49), multiply(a=3, b=12)]|
|qwen/qwen-max|[add(a=11, b=49)]|


|model|output|result|
|-|-|
|deepseek/deepseek-r1-0528|[]|
|deepseek/deepseek-chat-v3-0324:free|[add(a=11, b=49)]|
|deepseek/deepseek-chat-v3-0324|[add(a=11, b=49), multiply(a=3, b=12)]|
|qwen/qwen-max|[add(a=11, b=49)]|


|model|output|result|
|-|-|
|deepseek/deepseek-r1-0528|[]|
|deepseek/deepseek-chat-v3-0324:free|[add(a=11, b=49)]|
|deepseek/deepseek-chat-v3-0324|[add(a=11, b=49), multiply(a=3, b=12)]|
|qwen/qwen-max|[add(a=11, b=49)]|


|model|output|result|
|-|-|
|deepseek/deepseek-r1-0528|[]|
|deepseek/deepseek-chat-v3-0324:free|[add(a=11, b=49)]|
|deepseek/deepseek-chat-v3-0324|[add(a=11, b=49), multiply(a=3, b=12)]|
|qwen/qwen-max|[add(a=11, b=49)]|


|model|output|result|
|-|-|
|deepseek/deepseek-r1-0528|[]|
|deepseek/deepseek-chat-v3-0324:free|[add(a=11, b=49)]|
|deepseek/deepseek-chat-v3-0324|[add(a=11, b=49), multiply(a=3, b=12)]|
|qwen/qwen-max|[add(a=11, b=49)]|


|model|output|result|
|-|-|
|deepseek/deepseek-r1-0528|[]|
|deepseek/deepseek-chat-v3-0324:free|[add(a=11, b=49)]|
|deepseek/deepseek-chat-v3-0324|[add(a=11, b=49), multiply(a=3, b=12)]|
|qwen/qwen-max|[add(a=11, b=49)]|


